@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html>
<head>
    <title>Hello Feature</title>
</head>
<body>
<div>
    <h4>Hello Feature</h4>
    <p>Discount is: @ViewBag.Discount </p>
</div>
</body>
</html>